---
import type { MarkdownHeading } from "astro";

import Profile from "./Profile.astro";
import I18n from "../I18n.astro";
import { Translation } from "../../i18n/translation";

interface Props {
	class?: string;
	headings?: MarkdownHeading[];
}

const className = Astro.props.class;


        <!-- 侧边栏 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-1683686345039700"
            data-ad-slot="2162342758"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>


