---
title: folo-verification
published: 2025-08-10T21:26:55
description: ''
image: ''
tags: []
category: ''
draft: false 
lang: ''
---

# 这是啥？

这是一篇Folo认证文章，用于认证本RSS归属于我

This message is used to verify that this feed (feedId:154118531036739584) belongs to me (userId:165740980096046080). Join me in enjoying the next generation information browser https://folo.is.